body {
  background-color: black;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
ul {
  padding-inline-start: 0;
}
li {
  list-style-type: none;
}

a {
  display: inline-block;
  color: black;
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-radius: 4px;
  width: 82px;
  height: 36px;
  vertical-align: center;
  padding-top: 10px;
  text-decoration: none;
}

a:hover {
  border-color: #3f51b5;
  color: #3f51b5;
  font-weight: 700;
}
