.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactList li {
  width: 300px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 5px;
}
